
<div class="employees-table">

  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Employee Id</th>
      <th scope="col">Name</th>
      <th scope="col">Grade</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile no.</th>
      <th scope="col">Bank Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employeeList| paginate: { itemsPerPage: 7, currentPage: p }">

      <td>{{employee.employeeId}}</td>
      <td>{{employee.employeeName}}</td>
      <td>{{employee.gradeOfEmployee}}</td>
      <td>{{employee.employeeAddress}}</td>
      <td>{{employee.employeeMobileNo}}</td>
      <td>Bank Name: {{employee.bank.bankName}}<br>
        Branch Name: {{employee.bank.branchName}}<br>
        Ac No: {{employee.bank.accountNo}}<br>
        Ac Type: {{employee.bank.accountType}}
      </td>

    </tr>
    <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </tbody>
  </table>

</div>
