<div class="employees-table">
  <h3><strong>Rank 1</strong> <small><b> Employees</b></small></h3>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Employee Id</th>
      <th scope="col">Name</th>
      <th scope="col">Grade</th>
      <th scope="col">Address</th>
      <th scope="col">Mobile no.</th>
      <th scope="col">Bank Ac No</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
      <td>@mdo</td>
    </tr>
    </tbody>
  </table>
</div>
